*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 50px;
}
h1{
    text-align: center;
}
div{
    background-color: #111;
    padding:30px;
    margin-bottom: 20px;
    border-radius: 4px;
    
}
h2{
    color: white;
    margin: 0px;
}
p{
    color: #b2b2b2;
}
a{
    display: inline-block;
    text-decoration: none;
    background-color: #febe01;
    padding: 12px;
    border-radius: 4px;
    color: #332200;
}
span{
    color: #febe01;
}